<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>

    <!-- Import Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Skip to Content -->
    <a href="#explore" class="skip-link">Menuju ke konten</a>

    <!-- Header -->

    <header>
        <div class="header_title">
            <h1><a href="/">parfect res</a></h1>
            <button id="menu" class="header_menu">☰</button>
        </div>
        <nav id="drawer">
            <ul class="nav_links">
                <li class="nav_item"><a href="/">Home</a></li>
                <li class="nav_item"><a href="#">Favorite</a></li>
                <li class="nav_item"><a href="./detail.html">detail</a></li>
                <li class="nav_item"><a href="www.instagram.com/webdesignbynisa/">About Us</a></li>
            </ul>
        </nav>
    </header>

    <!-- Hero -->

    <section class="hero">
        <div class="hero_img">
            <h1 class="hero_title">Find your own <br>Favorite Restaurant</h1>
        </div>
        <p class="hero_subtitle">Parfect Res is a company who already travel around indonesia and bring you a curated selections of the best restaurant</p>
        <button class="hero_browse">Browse Restaurant</button>
    </section>

    <!-- Explore Restaurants -->

    <!-- <main id="explore" class="explore_restaurants">
        <h1 class="explore_restaurant_title">Explore Restaurant</h1>
        <div class="explore_wrap">
            <div class="explore_wrapper">
                <div class="explore_restaurant_img">
                    <img  src="${data.pictureId}" alt="${data.name}">
                </div>
                <div class="details">
                    <h2 class="explore_restaurant_name"><a href="#">${data.name}</a></h2>
                    <p class="explore_restaurant_detail">${data.description}</p>
                    <p class="explore_restaurant_city"><i class="fas fa-map-marker-alt"></i> ${data.city}</p>
                    <p class="explore_restaurant_rating"><i class="fas fa-star"></i> ${data.rating} </p>
                </div>
            </div>
        </div>
    </main> -->

    <section id="restaurantDetail" class="restaurant-detail">
        <h2>nama restoran disini</h2>
        <div class="restaurant_detail_wrapper">
            <img src="../public/images/heros/hero-image_1.jpg" alt="contoh gambar">
            <div class="resto_detail">
                <div class="resto_review">
                    <h3 class="content_review">jelek, kotor, lalala</h3> 
                    <p class="reviewer_name">siapa kek</p>
                </div>
            </div>
            <p class="resto_rating"><i class="fas fa-star"></i> sekian</p>
            <p class="resto_address">alamat resto</p>
            <div class="resto_food_menu">
                <p class="food_menu">apa kek menu nya</p>
            </div>
            <div class="resto_drink_menu">
                <p class="drink_menu">apa kek menu nya</p>
            </div>
        </div>
    </section>

    <!-- Footer -->

    <footer>
        <p>&copy; Copyright 2021 Parfect Res Co.</p>
    </footer>

    <script src="https://kit.fontawesome.com/cede744d7f.js" crossorigin="anonymous"></script>
</body>
</html>
